<agm-map *ngIf="locationPin" [latitude]="locationPin.lat" [longitude]="locationPin.lng" [scrollwheel]="false" [zoom]="zoom" (mapReady)="mapReady($event)">
    <agm-marker *ngIf="pin" [latitude]="locationPin.lat" [longitude]="locationPin.lng"></agm-marker>
    <agm-circle *ngIf="rangeInput" [latitude]="locationPin.lat" [longitude]="locationPin.lng" [circleDraggable]="false" [editable]="false" [fillColor]="'#b8a359'" [radius]="range" ></agm-circle>
</agm-map>
<!-- <span *ngIf="gLocation.formatted_address">Currently: {{gLocation.formatted_address}}</span> -->
<mat-google-maps-autocomplete *ngIf="showInput" country="au" type="['locality']" (onAddressSelected)="onAddressSelected($event)" (onLocationSelected)="onLocationSelected($event)" (onAutocompleteSelected)="onLocationSelected($event)" ></mat-google-maps-autocomplete>
<!-- [placeholderText]="gLocation.formatted_address" -->
<mat-slider *ngIf="rangeInput" class="col-12"
thumbLabel
[ngModel]="range"
(ngModelChange)="changeInput($event)"
[displayWith]="formatLabel"
tickInterval="1000"
[step]="1000"
min="5000"
max="25000"></mat-slider>
<button mat-raised-button color="primary" *ngIf="selectedAddress" (click)="saveLocation()" class="btn btn-primary">Submit</button>