<div class="flexi-container">
    <div class="auth">
        <img src="./../../../../assets/RoyalFreemasons_logo.svg">
        <div class="body">
            <router-outlet></router-outlet>
        </div>
        <div class="background">

        </div>
    </div>
</div>
<div class="ribbon bottom text-5 text-center">
        <span>© Royal Freemasons 2018</span>     <a>Privacy Policy</a>     <a>Terms of Service</a>     <a>Customer Service</a> 
        <h3 class="phone">1300 176 925</h3>
</div>