@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'bootstrap-selfrolled.scss';

html,
body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
}

p,
span,
label,
button {
    font-family: 'Roboto', sans-serif;
}

button {
    text-transform: uppercase;
}

.text-center {
    text-align: center !important;
}
.text-right {
    text-align: right !important;
}
.b-1 {
    border: 1px solid #ddd!important;
}

.bb-1 {
    border-bottom: 1px solid #ddd;
}

.brad-1 {
    border-radius: 5px;
}

.w-100 {
    width: 100%;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

:root {
    --dark-indigo: #102555;
    --lichen: #a3be8c;
    --azure: #2096f3;
    --sandy-brown: #b8a359;
    --scarlet: #d0021b;
    --grey: #d9d9d9;
    --warm-grey: #9b9b9b;
    --pale-grey: #f8f8f8;
}

body {
    font-family: Roboto;
    font-size: 16px;
    color: #9b9b9b;
    color: var(--warm-grey);
}

h1 {
    font-size: 27px;
    font-weight: bold;
    line-height: 1.3;
    letter-spacing: normal;
    color: #102555;
    color: var(--dark-indigo);
}

h3 {
    font-family: Roboto;
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #a3be8c;
    color: var(--lichen);
}

h4 {
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
}

.green {
    color: var(--lichen);
}

.sandy {
    color: var(--sandy-brown);
}

.blue {
    color: var(--dark-indigo);
}

.action-link {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.14;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    color: var(--azure);
}

.link-emphasis {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #102555;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--dark-indigo);
    i {
        color: #ccc;
    }
}

.blue-bg {
    background-color: rgba(162, 203, 235, 0.1);
}

.btn-lg {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.89;
    letter-spacing: 1.6px;
    text-align: center;
    color: #ffffff;
}

.text-7 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    color: #9b9b9b;
    color: var(--warm-grey);
    --grey: #d9d9d9;
    --warm-grey: #9b9b9b;
    --pale-grey: #f8f8f8;
}

body {
    font-family: Roboto;
    font-size: 16px;
    color: #9b9b9b;
}

.btn-md {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 1.2px;
    text-align: center;
    color: #2096f3;
    color: var(--azure);
}

.btn-md.white {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 1.2px;
    text-align: center;
    color: #ffffff;
}

.text-6 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #9b9b9b;
    color: var(--warm-grey);
}

.text-5 {
    font-family: Roboto;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #102555;
    color: var(--dark-indigo);
}

.text-8 {
    font-family: Roboto;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #d0021b;
    color: var(--scarlet);
}

.auth {
    mat-form-field,
    button,
    a {
        width: 100%;
        display: block;
    }
    button {
        margin-top: 15px;
    }
    .active-state {
        display: none;
    }
    text-align: center;
}
.mat-slider-thumb-container { 
    .mat-slider-thumb {
        position: absolute;
        right: -20px;
        bottom: -20px;
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        border: 3px solid transparent;
        border-radius: 50%;
        transform: scale(.7);
        transition: transform .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1),border-color .4s cubic-bezier(.25,.8,.25,1);
    }

    .mat-slider-thumb-label {
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        transition: transform .4s cubic-bezier(.25,.8,.25,1),border-radius .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
        right: -30px !important;
        top: -66px !important;
        transform: translateY(26px) scale(.01) rotate(45deg);
    }
}

.side-menu{
    padding: 0;
    border-right: 1px solid var(--grey);
    .header {
        text-transform: uppercase;
        padding-left: 25px;
        padding-bottom: 10px;
        font-family: Roboto;
        font-size: 11px;
        font-weight: 500;
        line-height: 1.18;
        padding-top: 45px;
        text-align: left;
        font-weight:bold;
        color: var(--dark-indigo);
        background-color: #f8f8f8;
        display: block;
    }
    ul {
        margin: 0;
        padding: 0;
        
        li {
            font-family: Roboto;
            font-size: 14px;
            font-weight: bold;
            line-height: 1.14;
            padding-left: 25px;
            list-style: none;
            padding: 10px 0 10px 25px;
            border-bottom: 1px solid var(--grey);
            text-align: left;
            color: #102555;
            color: var(--dark-indigo);
        }
    }
}

#onboarding {
    background: #fff!important;
    ol {
        counter-reset:li; /* Initiate a counter */
        margin-left:0; /* Remove the default left margin */
        padding-left:0; /* Remove the default left padding */
    }
    ol > li {
        position:relative; /* Create a positioning context */
        padding: 0 10px;
        margin:0 0 60px 40px; /* Give each list item a left margin to make room for the numbers */
        list-style:none; /* Disable the normal item numbering */
    }
    ol > li:before {
        content: counter(li);
        counter-increment: li;
        position: absolute;
        left: -40px;
        top: -9px;
        box-sizing: border-box;
        width: 40px;
        margin-right: 8px;
        padding: 10px;
        height: 40px;
        color: #fff;
        background: #a3be8c;
        font-weight: bold;
        text-align: center;
        border-radius: 50%;
    }
    li ol,
    li ul {margin-top:6px;}
    ol ol li:last-child {margin-bottom:0;}
    ol li h2 {
        font-family: Roboto;
        font-size: 19px;
        font-weight: bold;
        line-height: 1.21;
        text-align: left;
        color: var(--lichen);
    }
}

agm-map {
    width: 100%;
    height: 600px;
    min-height: 600px;
    display: inline-block;
}

.actionable {
    cursor: pointer;
}

menu-primary {
    text-transform:uppercase;
}
#primary-menu {
    * { outline: none; }
    background: var(--dark-indigo);
    .menu {
        img {
            width: 150px;
            height: auto;
        }
        .item {
            display: flex;
            justify-content: center;
            flex-direction: column;
            color: #fff;
            margin: 0 5px;
        }
        .item.active span {
            background: var(--sandy-brown);
            padding: 6px 12px;
            border-radius: 14px;
        }
    }
}
#primary-toggle {
    border-bottom: 1px solid var(--dark-indigo);
    background: var(--sandy-brown);
    color: #ccc;
    .toggle {
        .item {
            margin-right: 40px;
            line-height: 40px;
            &.active {
                color: #fff;
            }
        }
    }
}