@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'bootstrap-selfrolled.scss';

html,
body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
}

p,
span,
label,
button {
    font-family: 'Roboto', sans-serif;
}

button {
    text-transform: uppercase;
}

.text-center {
    text-align: center !important;
}

:root {
    --dark-indigo: #102555;
    --lichen: #a3be8c;
    --azure: #2096f3;
    --sandy-brown: #b8a359;
    --scarlet: #d0021b;
    --grey: #d9d9d9;
    --warm-grey: #9b9b9b;
    --paleGrey: #f8f8f8;
}

body {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: -0.2px;
    text-align: center;
    color: #9b9b9b;
    color: var(--warm-grey);
}

h1 {
    font-family: RobotoSlab;
    font-size: 27px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: center;
    color: #102555;
    color: var(--dark-indigo);
}

h3 {
    font-family: Roboto;
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #a3be8c;
    color: var(--lichen);
}

.btn-lg {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.89;
    letter-spacing: 1.6px;
    text-align: center;
    color: #ffffff;
}

.text-7 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    color: #9b9b9b;
    color: var(--warm-grey);
}

.btn-md {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 1.2px;
    text-align: center;
    color: #2096f3;
    color: var(--azure);
}

.btn-md.white {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 1.2px;
    text-align: center;
    color: #ffffff;
}

.text-6 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #9b9b9b;
    color: var(--warm-grey);
}

.text-5 {
    font-family: Roboto;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #102555;
    color: var(--dark-indigo);
}


.link-emphasis {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #102555;
    color: var(--dark-indigo);
}

.text-8 {
    font-family: Roboto;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #d0021b;
    color: var(--scarlet);
}

.auth {
    mat-form-field,
    button,
    a {
        width: 100%;
        display: block;
    }
    button {
        margin-top: 15px;
    }
    .active-state {
        display: none;
    }
}


.actionable {
    cursor: pointer;
}

menu-primary {
    text-transform:uppercase;
}
#primary-menu {
    background: var(--dark-indigo);
    .menu {
        img {
            width: 150px;
            height: auto;
        }
        .item {
            display: flex;
            justify-content: center;
            flex-direction: column;
            color: #fff;
            margin: 0 5px;
        }
        .item.active span {
            background: var(--sandy-brown);
            padding: 6px 12px;
            border-radius: 14px;
        }
    }
}
#primary-toggle {
    border-bottom: 1px solid var(--dark-indigo);
    background: var(--sandy-brown);
    color: #ccc;
    .toggle {
        .item {
            margin-right: 40px;
            line-height: 40px;
            &.active {
                color: #fff;
            }
        }
    }
}