<h1>Let’s get started as a {{isContractor ? 'Contractor' : 'Customer'}}</h1>
<p>There are just a few steps required to get you signed up as a {{isContractor ? 'Contractor' : 'Customer'}}</p>
<div>
    <mat-form-field class="example-full-width">
<input matInput placeholder="First Name" [(ngModel)]="user.firstName">
</mat-form-field>
</div>
<div>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Last Name" [(ngModel)]="user.lastName">
  </mat-form-field>
</div>
<div>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" [(ngModel)]="user.email">
  </mat-form-field>
</div>

<button mat-raised-button color="primary" type="button" id="signup" (click)="createAccount()">Get Started
  <i class="fa fa-arrow-right sign-in-arrow"></i>
</button>

<br>
<div class="red-text">{{error}}</div>