<div class="" *ngIf="!selection">
    <div class="mt-5">
        <p class="text-center">We have a range of services that your can book below</p>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col text-center b-1 actionable mx-3 pt-3 brad-1 service-item" (click)="selection = 'service'">
                <img src="./../../../../../assets/Image 7.jpg">
                <h2 class="blue">Individual Services</h2>
                <p>Choose from Nursing, Respite, Food and Home care.</p>
            </div>
            <div class="col text-center b-1 actionable mx-3 pt-3 brad-1 service-item" (click)="selection = 'package'">
                <img src="./../../../../../assets/Image 8.jpg">
                <h2 class="blue">Packaged Services</h2>
                <p>Choose Home care packages for Post operative surgery.</p>
            </div>
            <div class="col text-center b-1 actionable mx-3 pt-3 brad-1 service-item" (click)="selection = 'voucher'">
                <img src="./../../../../../assets/Image 9.jpg">
                <h2 class="blue">Gift Voucher</h2>
                <p>The perfect gift for those who need a extra hand.</p>
            </div>
        </div>
    </div>
</div>


<div class="" *ngIf="selection == 'service'">
    <div class="mt-5 col-8 offset-2">
        <p class="text-center">Our services are provided by trained and accredited professionals.
            Select from our range of services below to make a booking.</p>
    </div>
    <span class="actionable blue action-link" (click)="selection = null">< All Products</span>
    <div class="container mt-5">
        <div class="row">
            <div class="col-3 text-center b-1 actionable" *ngFor="let service of services" [routerLink]="'/service/' + service.id">
                <img class="w-100 px-5 pt-5 pb-1" src="{{service.imageUrl}}">
                <h3 class="text-center">{{service.serviceName}}</h3>
                <p>{{service.excerpt}}</p>
            </div>
        </div>
    </div>
</div>