<div class="flexi-container">
    <div class="auth">
        <img src="./../../../../assets/RoyalFreemasons_logo.svg">
        <div class="body">
            <router-outlet></router-outlet>
            <div class="hide" routerLinkActive="show">
                <a class="text-center text-7" [routerLink]="'/login'" routerLinkActive="active-state">Already have an account? Log in</a>
                <a class="text-center text-7" [routerLink]="'/signup'" routerLinkActive="active-state">Don't have an account? Sign Up</a>
                <a class="text-center text-7" [routerLink]="'/reset'" routerLinkActive="active-state">Forgot Password?</a>
            </div>
        </div>
        <div class="background">

        </div>
    </div>
</div>
<div class="ribbon bottom text-5 text-center">
        <span>© Royal Freemasons 2018</span>     <a>Privacy Policy</a>     <a>Terms of Service</a>     <a>Customer Service</a> 
        <h3 class="phone">1300 176 925</h3>
</div>