.dashboard-module-selector {
    * { outline: none; }
    border-bottom: 1px solid #bbb;
    margin-top: 40px;
    justify-content: center;
    .item {
        margin: 0 20px;
        padding: 15px 0;
        &.active {
            border-bottom: 3px solid var(--sandy-brown);
        }
    }
}
.welcome {
    margin: 50px 0 60px;
}