<div class="container">
    <div class="row">
        <div class="col-3">
            <menu-user></menu-user>
            <app-mini-cart></app-mini-cart>
        </div>
        <div class="col-9">
            <h1 class="welcome text-center">Hello {{user.firstName}}, what can we help you with?</h1>

            <div class="dashboard-module-selector row">
                <div [ngClass]="{'active': selection === 'make'}" class="actionable item link-emphasis" 
                [routerLink]="'/dashboard/make'">
                    <i class="far fa-calendar-plus mr-1"></i>
                    Make a Booking
                </div>
                <div [ngClass]="{'active': selection === 'current'}" class="actionable item link-emphasis" 
                [routerLink]="'/dashboard/current'">
                    <i class="far fa-calendar-check mr-1"></i>
                    My Current Bookings
                </div>
                <div [ngClass]="{'active': selection === 'notifications'}" class="actionable item link-emphasis"
                    [routerLink]="'/dashboard/notifications'">
                    <i class="far fa-bell mr-1"></i>
                    My Notifications
                </div>
            </div>
            <booking-service-selection *ngIf="selection === 'make'"></booking-service-selection>
            <booking-list *ngIf="selection === 'current'"></booking-list>
            <notification-list *ngIf="selection === 'notifications'"></notification-list>
        </div>
    </div>
</div>