<div class="state-picker" id="primary-toggle">
  <div class="container">
    <div class="row toggle">
      <div class="item actionable">
          <i class="fas fa-user"></i>
        Client
      </div>
      <div class="item actionable">
          <i class="fas fa-user-clock"></i>
        Contractor
      </div>
    </div>
  </div>
</div>