<h1>Tell us a bit about your location</h1>
<p>What is your postcode?</p>

<mat-form-field class="example-full-width">
<input matInput type="number"  placeholder="Your postcode"  [(ngModel)]="postcode">
</mat-form-field>
<button mat-raised-button color="success"  (click)="submit()">Submit</button>

<button *ngIf="accepted" mat-raised-button color="success"  [routerLink]="'/onboarding/create-your-profile'">Next</button>
<button *ngIf="accepted === false" mat-raised-button color="success"  [routerLink]="'/todo'">Next</button>