<h1>We have sent you an email</h1>
<p>Please follow the link in the email to verify your email address. You may need check that it hasn’t gone into you spam folder.</p>
<img src="../../../../assets/email-sent.svg">
<p>Didn’t recive an email at {{email}} <span (click)="resend()">Click to resend</span></p>
<br>

