<div class="cart container-fluid" *ngIf="cart.items.length > 0">
  <h4 class="blue row">Your Cart</h4>
  <div class="item blue-bg mb-2 p-3 b-1 row" *ngFor="let item of cart.items">
      <div class="col-2 p-0">
          <img class="w-100" src="{{item.service.imageUrl}}">
        </div>
    <div class="col-10">
      <div class=""><strong>{{item.duration}}hr of {{item.service.serviceName}}</strong></div>
      <div class="" *ngIf="item.repetition">{{printStatus(item.repetition)}} for {{item.repetitions}} occurances</div>
      <div class="">{{item.startDate | date:'EEEE'}} {{item.timePref == 1 ? 'morning' : 'afternoon'}}</div>
      <div class="" *ngFor="let subItem of item.cartItemComponents">{{subItem.date | date:'d MMM, y'}}</div>
      <div class="">${{item.total}}</div>
    </div>
    <i class="fas fa-times" (click)="removeFromCart(item)"></i>
  </div>
  <div class="total text-right">
      <h3 class="blue text-right mb-0 mt-5">${{cart.total.toFixed(2)}}</h3>
      Includes GST of ${{(cart.total / 11 * 1).toFixed(2)}}
    </div>
    <button mat-raised-button color="primary" class="mt-4 float-right" type="button" (click)="placeBooking()">Purchase
    </button>
</div>
