<div class="userAvatar d-inline-block">
  <img src="{{user.avatarUrl}}" class="d-inline float-left">
  <div class="d-inline ml-2 float-left mt-x">
    <span class="d-block name">{{user.firstName}} {{user.lastName}}</span>
    <span class="d-block edit actionable" [routerLink]="'/onboarding/create-your-profile'">Edit profile</span>
  </div>
</div>