.userAvatar{
    padding-top: 50px;
}
img {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}
.name {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #102555;
    color: var(--dark-indigo);
}
.edit {
    font-family: Roboto;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #2096f3;
    color: var(--azure);
}
.mt-x {
    margin-top: 10px;
}