<div class="row" id="primary-menu">
  <div class="container">
    <div class="menu row">
      <img src="../../../../assets/RoyalFreemasons_logo.svg">
      <div class="item active">
        <span>Book a Service</span>
      </div>
      <div class="item">
        <span>Book a Service</span>
      </div>
      <div class="item">
        <span>Book a Service</span>
      </div>
      <div class="item">
        <span>Book a Service</span>
      </div>
      <div class="item ml-auto">
        <span>Book a Service</span>
      </div>
    </div>
  </div>
</div>
