.no-bookings-placeholder img {
    width: 53px;
    height: auto;
    margin: 90px auto 65px;
}
.no-bookings-placeholder img::after {
    box-shadow: 1px 1px 143px 30px;
    border-radius: 100%;
    height: 100px;
    width:100px;
    content: '';
}

.item {
    border-radius: 5px;
    border: 1px solid #ddd;
    h1{
        font-size: 33px;
        font-weight: normal!important;
    }
    .actionable{
        font-size:12px;
    }
    i {
        font-size: 20px;
    }
}