<div class="no-bookings-placeholder text-center" *ngIf="!bookings">
    <img src="../../../../assets/bookings-none.svg">
    <p>You have no bookings at the moment.<br>
    <a>Follow this link if you would like to book a service.</a></p>
</div>
<div class="booking grid" *ngIf="bookings">
    <div class="row my-3 item" *ngFor="let bookingComponent of bookings">
        <div class="p-2 col-12 blue-bg blue title bb-1">
            <i class="fa fa-check-circle mr-3 ml-1 green"></i>
            <strong class="">Your {{bookingComponent.bookingItem.service.serviceName}} service has been booked</strong>
            <span class="ml-3">Booking Id {{bookingComponent.visibleBookingItemComponentId}}</span>
            <strong class="float-right">{{bookingComponent.bookingItem.duration}} hrs</strong>
        </div>
        <div class="px-3 py-2 col-12">
            <h1 class="float-left my-1 mr-3">{{bookingComponent.date | date:'dd'}}</h1>
            <div class="float-left mt-2">
                <div *ngIf="bookingComponent.timeSlot">{{bookingComponent.timeSlot | date:'h:mm aa'}} {{bookingComponent.date | date:'EEEE b'}}</div> 
                <div *ngIf="!bookingComponent.timeSlot">{{bookingComponent.date | date:'EEEE'}} {{bookingComponent.bookingItem.timePref == 1 ? 'morning' : 'afternoon'  }}</div> 
                <div class="actionable">Manage this booking</div>
            </div>
            <div class="float-right mt-3">
                <div *ngIf="!bookingComponent.contractorId">Awaiting resource</div>
                <div *ngIf="bookingComponent.contractorId !== null">{{bookingComponent.contractor}}</div>
                </div>
        </div>
    </div>
</div>