.flexi-container {
    flex-direction: column;
    display: flex;
height: 100vh;
    justify-content: center;
        align-items: center;
}
.show {
    display: block!important;
}
.hide {
    display: none;
}

.auth {
    margin: 0 auto;
    max-width: 450px;
    margin-bottom: 100px;
    img {
        width: 180px;
        margin-bottom:20px;
    }
    .body {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    a {
        margin-bottom: 5px;
        text-decoration: none;
    }
    }
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, #254c8e, #102555);
    background-image: linear-gradient(to bottom, #254c8e, var(--dark-indigo));
    z-index: -1;
}
.ribbon {
    height: 46px;
    background-color: var(--grey);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    overflow: hidden;
    line-height: 46px;
    span {
        margin: 0 10px;
    }
    a {
        margin: 0 10px;
        color: var(--azure);
    }
    .phone {
        position: absolute;
        right: 0;
        display: inline;
        line-height: 46px;
        margin: 0 40px 0px 10px;
        color: var(--dark-indigo);
        
    }
}