<h1>Training & Experience</h1>
<p>Lorem Ipsum
</p>
<br>
<ol>
  <li>
    <h2>What service do you provide</h2>
    <mat-form-field class="mr-5" *ngIf="!serviceSet">
      <mat-select required [(ngModel)]="selection">
        <mat-option *ngFor="let service of services" [value]="service.id">{{service.serviceName}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="button" id="login" *ngIf="!serviceSet"  (click)="saveService()">Select service <i class="fa fa-arrow-right sign-in-arrow"></i>
    </button>
    <h3 *ngIf="serviceSet" class="blue">{{user.service.serviceName}}</h3>
  </li>
  <li>
    <h2>Provide a copy of your qualifications</h2>
    <p>Upload your nursing qualifications below. Nursing the require the following qualifications RN, EN, PCA, Disability, you will also require your Aphra number and Renewal Date. If providing personal Care, you will a minimum Cert 3 in Aged and Community Care.</p>

  </li>
</ol>