<!-- <form> -->
  <div class="container">
    <div class="row">

      <div class="col-3">
        <menu-user></menu-user>
        <app-mini-cart></app-mini-cart>
      </div>
      <div class="col-9">
        <div class="container">
          <div class="row pt-5">
            <div class="back col-2 action-link pt-2 actionable" [routerLink]="'/dashboard'">
              < Back </div> <div class="title col-10">
                <h1 class="m-0">{{service.serviceName}}</h1>
            </div>
          </div>
          <div class="row mt-4 mb-5">
            <div class="image col-2 p-0">
              <img class="w-100" src="{{service.imageUrl}}">
            </div>
            <div class="description col-10">
              {{service.description}}
            </div>
          </div>


          <div class="row">
            <h4 class="blue">Make a Booking</h4>
          </div>
          <div class="row blue-bg pb-3 pt-4 mb-2">
            <div class="col-12">
              <h4 class="sandy d-inline mr-5">Visit me</h4>
              <mat-form-field class="mr-5">
                <input matInput required (ngModelChange)="setDate($event)" [min]="tomorrow" placeholder="Choose a day"
                  [ngModel]="cartItem.startDate" [matDatepicker]="myDatepicker">
                <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <mat-select required (ngModelChange)="setTimePref($event)" placeholder="Time preference" [ngModel]="cartItem.timePref">
                  <mat-option value="1">Morning</mat-option>
                  <mat-option value="2">Afternoon</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row blue-bg py-3 mb-2">
            <div class="col-12">
              <h4 class="sandy d-inline mr-5">How Often</h4>
              <mat-form-field class="mr-5">
                <mat-select required placeholder="Frequency" (ngModelChange)="setRepetition($event)" [ngModel]="cartItem.repetition">
                  <mat-option value="0">Once</mat-option>
                  <mat-option value="1">Daily</mat-option>
                  <mat-option value="2">Weekly</mat-option>
                  <mat-option value="3">Fortnightly</mat-option>
                  <mat-option value="4">Monthly</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field *ngIf="cartItem.repetition == 1">
                <input matInput required type="number" (ngModelChange)="setRepetitions($event)" min="1" max="5"
                  [ngModel]="cartItem.repetitions">
              </mat-form-field>
              <mat-form-field *ngIf="cartItem.repetition == 2">
                  <input matInput required type="number" (ngModelChange)="setRepetitions($event)" min="1" max="5"
                    [ngModel]="cartItem.repetitions">
                </mat-form-field>
                <mat-form-field *ngIf="cartItem.repetition == 3">
                    <input matInput required type="number" (ngModelChange)="setRepetitions($event)" min="1" max="5"
                      [ngModel]="cartItem.repetitions">
                  </mat-form-field>
              <mat-form-field *ngIf="cartItem.repetition == 4">
                <input matInput required type="number" (ngModelChange)="setRepetitions($event)" min="1" max="3"
                  [ngModel]="cartItem.repetitions">
              </mat-form-field>
            </div>
          </div>
          <!-- // SERVICE COMPONENT SWITCHER -->
          <service-service-cleaning [service]="service" (update)="updateDuration(event)" (meta)="updateMeta(event)"></service-service-cleaning>


          <br>
          <hr class="row">
          <br>

          <div class="row text-right" *ngIf="cartItem.total">
            <strong class="small col-12">
              Duration: {{cartItem.duration}} hrs
            </strong>
            <div class="price col-12">
              <!-- {{duration}} -->
              <span>$ </span>
              <h1 class="mt-3 mb-0 d-inline">{{cartItem.total}}</h1>
            </div>
            <div class="gst col-12">
              <!-- {{price}} -->
              includes GST of ${{(cartItem.total / 11 * 1).toFixed(2)}}
            </div>
          </div>
          <div class="row mt-3 mb-5" *ngIf="cartItem.total">
            <div class="ml-auto">
              <button mat-raised-button color="secondary" type="button" class="mr-2" (click)="newItemInit()">Cancel
              </button>
              <button mat-raised-button color="primary" type="button" (click)="addToCart()">Add to cart
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
<!-- </form> -->