<div class="container">
    <div class="row">
        <div class="col-3">
            <menu-user></menu-user>
            <app-mini-cart></app-mini-cart>
        </div>
        <div class="col-9">
            <h1>Hello {{user.firstName}}, what can we help you with?</h1>

            <div class="dashboard-module-selector row">
                <div class="col actionable item link-emphasis" (click)="selection = 'make'">
                    Make a Booking
                </div>
                <div class="col actionable item link-emphasis" (click)="selection = 'current'">
                    My Current Bookings
                </div>
                <div class="col actionable item link-emphasis" (click)="selection = 'notifications'">
                    My Notifications
                </div>
            </div>
            <booking-service-selection *ngIf="selection === 'make'"></booking-service-selection>
            <booking-list *ngIf="selection === 'current'"></booking-list>
        </div>
    </div>
</div>