<div>
    list out all the services
</div>
<div class="">
    All Products
</div>
<div class="container">
    <div class="row">
        <div class="col-3" *ngFor="let service of services">
            {{service.service}}
        </div>
    </div>
</div>