<h1>Profile</h1>
<p>Your profile is used to match available contractors in your area to services you book.
</p>
<br>
<form #userForm="ngForm">
<ol>
  <li>
    <h2>Edit your personal details</h2>
    <div class="row">
      <mat-form-field class="col-12">
        <input required matInput placeholder="First Name" name="firstName" [(ngModel)]="user.firstName"  #firstName="ngModel">
        <md-error [hidden]="firstName.valid || firstName.pristine">
          First name is <strong>required</strong>
        </md-error>
      </mat-form-field>
      <mat-form-field class="col-12">
        <input required matInput placeholder="Last Name" name="lastName" [(ngModel)]="user.lastName">
      </mat-form-field>
      <mat-form-field class="col-12">
          <input matInput placeholder="Date of Birth" [matDatepicker]="myDatepicker" endDate="new Date()" name="dob" [(ngModel)]="user.dob">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="col-12">
          <input matInput  placeholder="Email" name="email" [(ngModel)]="user.email" disabled>
      </mat-form-field>
      <mat-form-field class="col-12">
        <input required matInput placeholder="Phone" name="phone" [(ngModel)]="user.phone">
      </mat-form-field>
    </div>
  </li>
  <li>
    <h2>Edit your address details</h2>
    <div class="row">
      <mat-form-field class="col-12">
        <input required matInput placeholder="Address 1" name="address1" [(ngModel)]="user.location.address1">
      </mat-form-field>
      <mat-form-field class="col-12">
        <input  matInput placeholder="Address 2" name="address2" [(ngModel)]="user.location.address2">
      </mat-form-field>
      <mat-form-field class="col-12">
        <input required matInput placeholder="Suburb" name="suburb" [(ngModel)]="user.location.suburb">
      </mat-form-field>
      <mat-form-field class="col-12">
        <input required matInput placeholder="State" name="state" [(ngModel)]="user.location.state">
      </mat-form-field>
      <mat-form-field class="col-12">
          <input required matInput placeholder="Postcode" name="postcode" [(ngModel)]="user.location.postcode">
      </mat-form-field>
    </div>
  </li>
  <li>
    <h2>Your Display Picture</h2>
    <p>Please select or edit your image by clicking on the icon below.</p>
    <br>
    <img src="{{user.avatarUrl}}" class="avatar">
  </li>
</ol>
<div class="row">
  <div class="col-12">
    <button mat-raised-button color="primary"  [disabled]="!userForm.form.valid" (click)="submit()" type="submit">Save</button>
    <button mat-raised-button color="primary" [disabled]="!submissionComplete" (click)="next()" class="ml-3">Next</button>
  </div>
</div>
</form>