<div class="sign-up">
    <h1>Sign in to Royal Freemasons</h1>
    <div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Your email" [(ngModel)]="email">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Your password" [(ngModel)]="password">
      </mat-form-field>
    </div>
  <div>
    <button mat-raised-button color="primary" type="button" id="login" (click)="login()">Sign in
      <i class="fa fa-arrow-right sign-in-arrow"></i>
    </button>
  </div>
  <br>
  <div *ngIf="errorMessage != null">
    <strong>Oh snap!</strong> {{errorMessage}}
  </div>
</div>