<h1>Reset your password</h1>
<p>We’ll send you an email with a password reset link.</p>
<br/>
<div>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Your email" [(ngModel)]="email">
  </mat-form-field>
</div>
<br>
<div>
  <button mat-raised-button color="primary" type="button" id="login" (click)="resetPassword()">Reset Password
    <i class="fa fa-arrow-right sign-in-arrow"></i>
  </button>
</div>
<br>