<h1>Catchment & Availability</h1>
<p>You can add more services below to your booking or Click “Confirm Booking” to purchase and confirm your booking.
</p>
<br>
<ol>
  <li>
    <h2>Set where you want to work</h2>
    <p>Your catchment area is base on a radius from wher you live. Use the slider below to set your maxium radius.</p>
    <map-with-radius [rangeInput]="true"></map-with-radius>
  </li>
  <li>
    <h2>Set the days you will be available</h2>
    <p>Your catchment area is base on a radius from wher you live. Use the slider below to set your maxium radius.</p>
  </li>
</ol>