<div class="row blue-bg py-3 mb-2">
  <div class="col-12">
    <h4 class="sandy">To Clean</h4>
  </div>
</div>

<div class="row blue-bg py-3 mb-2">
  <div class="col-12">
    <h4 class="sandy">Sub Services</h4>
  </div>
</div>

<div class="row my-3">
  <div class="col-12 note">
    <strong>{{service.note}}</strong>
  </div>
</div>