<div id="onboarding" class="container">
    <div class="row d-flex">
        <div class="col-3 side-menu d-flex-item">
            <span class="header">Your Profile</span>
            <ul>
                <li class="actionable" [routerLink]="'./create-your-profile'">
                    Create your profile
                </li>
                <li *ngIf="user.contractor" class="actionable" [routerLink]="'./training-and-experience'">
                    Training & Experience
                </li>
                <li *ngIf="user.contractor" class="actionable" [routerLink]="'./catchment-and-availability'">
                    Catchment & Availability
                </li>
                <li *ngIf="user.contractor" class="actionable" [routerLink]="'./compliance'">
                    Compliance
                </li>
                <li class="actionable" [routerLink]="'./settings'">
                    Settings
                </li>
            </ul>
        </div>
        <div class="col-9 pt-4 px-5">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>