<div id="primary-menu">
  <div class="container">
    <div class="menu row">
      <img [routerLink]="'/dashboard'" class="actionable mr-5" src="../../../../assets/RoyalFreemasons_logo.svg">
      <div class="item mr-3" routerLinkActive="active">
        <span [routerLink]="'/dashboard/make'">Book a Service</span>
      </div>
      <div class="item mr-3" routerLinkActive="active">
        <span [routerLink]="'/dashboard/current'">My Bookings</span>
      </div>
      <div class="item mr-3" routerLinkActive="active">
        <span [routerLink]="'/dashboard/notifications'">My Notifications</span>
      </div>
      <div class="item ml-auto">
        <span>Book a Service</span>
      </div>
    </div>
  </div>
</div>