<h1>Set your Password</h1>
<div>
  <mat-form-field class="example-full-width">
    <input minlength="8" required type="password" name="password" matInput placeholder="Your password" [(ngModel)]="password">
  </mat-form-field>
</div>
<div>
  <mat-form-field class="example-full-width">
    <input minlength="8" required type="password" name="passwordConfirm" matInput placeholder="Verify password" [(ngModel)]="passwordConfirm">
  </mat-form-field>
</div>
<br>
<button mat-raised-button color="primary" type="button" id="set" (click)="updatePassword()">Set Password
  <i class="fa fa-arrow-right sign-in-arrow"></i>
</button>